# hidden Mac file of cached metadata when Finder is used to browse folders
.DS_Store

#VS Code workspace file
.VSCode

#Python dotenv file
.env

#Virtual Environment
venv/

# Fast
instance/*
!instance/.gitignore
.webassets-cache


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
